.business {
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/backgroundImg.png);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  @include desc(1200px) {
    padding: 200px 0;
  }
}
.business-title {
  color: #fff;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 26px;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  @include desc(1200px) {
    font-size: 44px;
    max-width: 696px;
  }
}
.business-order {
  display: block;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;

  border-radius: 4px;
  color: #ffff;
  background-color: #2196f3;
  margin: 0 auto;
}
