.business {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/backgroundImg.png);
}
.business-title {
  margin: 0 auto;
  width: 696px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
