.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-button-list {
  display: flex;
  gap: 8px;
  margin-left: 322px;
}
.portfolio-button-item {
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 0.2s;
  &:hover {
    border-radius: 4px;
    background: #2196f3;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.card-list {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
}
.card-text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}
.card-item {
  height: 404px;
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  outline: 1px solid #eee;
  transition: 0.5s;
  overflow: hidden;
  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  &:hover .overlay {
    transform: translateY(0);
  }
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 0.5s ease;
}
.overlay {
  overflow: hidden;
  position: relative;
}
.card-list-link {
  &:hover .overlay-text {
    transform: translateY(0);
  }
}
.card-list-text {
  padding: 0 24 20 24;
}
