.wearedoing-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.wearedoing-list {
  display: flex;
  column-gap: 30px;
  margin-bottom: 94px;
}
.work-list {
  position: relative;
}
.wearedoing-item-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  align-items: center;
}
